.doctorVisitsWrapper {
    display: block;
    padding: 0 20px;
}
.doctorsVisitsTitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 0px 15px 20px;
    display: flex;
    align-items: center;
    margin: 0;
}
.visitsInfoWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.moreVisitsWrapper {
    width: 100px;
    padding: 70px 0;
}
.visitInfoTab {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #EBE7FF;
    padding: 20px;
    width: 440px;
}
.tabDate {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.tabDate,
.tabHospitalName,
.tabHospitalAddress {
    display: block;
}
.tabHospitalName,
.tabHospitalAddress {
    margin-top: 5px;
}
.tabDoctorWrapper {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.doctorSpecialty,
.doctorFullName {
    margin-left: 8px;
}
.doctorFullName {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.doctorSpecialty {
    color: #EBE7FF;
}
.cancelBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    outline: none;
    border: none;
    background-color: #7761FF;
    border-radius: 5px;
    color:white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}