.navWrapper {
    grid-area: n;
    background-color: #003B72;
}
.logo {
    padding: 17px;
    color: white;
}
.linkWrapper {
}
.activeLink {
    background-color: black;
}
.logoImg {
    height: 20px;
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 14px;
}
.footer {
    margin-top: 535px;
}
